USE [master]
GO
/****** Object:  Database [PokemonsDatabase]    Script Date: 10.05.2021 07:33:20 ******/
CREATE DATABASE [PokemonsDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PokemonsDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.PATRYKSQL\MSSQL\DATA\PokemonsDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PokemonsDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.PATRYKSQL\MSSQL\DATA\PokemonsDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PokemonsDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PokemonsDatabase]
GO
/****** Object:  Table [dbo].[FirstAbility]    Script Date: 10.05.2021 07:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FirstAbility](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstAbilityName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FirstAbility] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FirstType]    Script Date: 10.05.2021 07:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FirstType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FirstType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HiddenAbility]    Script Date: 10.05.2021 07:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HiddenAbility](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HiddenAbilityName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HiddenAbility] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Occurrence]    Script Date: 10.05.2021 07:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Occurrence](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Occurrence] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Occurrence] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pokemons]    Script Date: 10.05.2021 07:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pokemons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[HP] [int] NOT NULL,
	[Attack] [int] NOT NULL,
	[Defence] [int] NOT NULL,
	[SpecialAttack] [int] NOT NULL,
	[SpecialDefence] [int] NOT NULL,
	[Speed] [int] NOT NULL,
	[Sum] [int] NOT NULL,
	[FirstTypeId] [int] NOT NULL,
	[SecondTypeId] [int] NOT NULL,
	[OccurrenceId] [int] NOT NULL,
	[FirstAbilityId] [int] NOT NULL,
	[SecondAbilityId] [int] NOT NULL,
	[HiddenAbilityId] [int] NOT NULL,
	[SexId] [int] NOT NULL,
	[ImageName] [varchar](50) NULL,
	[ImageFile] [varbinary](max) NULL,
 CONSTRAINT [PK_Pokemons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecondAbility]    Script Date: 10.05.2021 07:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecondAbility](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SecondAbilityName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SecondAbility] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecondType]    Script Date: 10.05.2021 07:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecondType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SecondTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SecondType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sex]    Script Date: 10.05.2021 07:33:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SexName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Sex] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FirstAbility] ON 

INSERT [dbo].[FirstAbility] ([Id], [FirstAbilityName]) VALUES (1, N'Adaptacja')
INSERT [dbo].[FirstAbility] ([Id], [FirstAbilityName]) VALUES (2, N'Analityk
')
INSERT [dbo].[FirstAbility] ([Id], [FirstAbilityName]) VALUES (3, N'Bez Ochrony
')
GO
SET IDENTITY_INSERT [dbo].[FirstAbility] OFF
GO
SET IDENTITY_INSERT [dbo].[FirstType] ON 

INSERT [dbo].[FirstType] ([Id], [FirstTypeName]) VALUES (1, N'Normalny')
INSERT [dbo].[FirstType] ([Id], [FirstTypeName]) VALUES (2, N'Ognisty')
INSERT [dbo].[FirstType] ([Id], [FirstTypeName]) VALUES (3, N'Wodny')
SET IDENTITY_INSERT [dbo].[FirstType] OFF
GO
SET IDENTITY_INSERT [dbo].[HiddenAbility] ON 

INSERT [dbo].[HiddenAbility] ([Id], [HiddenAbilityName]) VALUES (1, N'Adaptacja')
INSERT [dbo].[HiddenAbility] ([Id], [HiddenAbilityName]) VALUES (2, N'Analityk')
INSERT [dbo].[HiddenAbility] ([Id], [HiddenAbilityName]) VALUES (3, N'Bez Ochrony')
GO
SET IDENTITY_INSERT [dbo].[HiddenAbility] OFF
GO
SET IDENTITY_INSERT [dbo].[Occurrence] ON 

INSERT [dbo].[Occurrence] ([Id], [Occurrence]) VALUES (1, N'Góry')
INSERT [dbo].[Occurrence] ([Id], [Occurrence]) VALUES (2, N'Góry, Jaskinie')
INSERT [dbo].[Occurrence] ([Id], [Occurrence]) VALUES (3, N'Góry, Jaskinie, Wulkan')
SET IDENTITY_INSERT [dbo].[Occurrence] OFF
GO
SET IDENTITY_INSERT [dbo].[Pokemons] ON 

GO
SET IDENTITY_INSERT [dbo].[Pokemons] OFF
GO
SET IDENTITY_INSERT [dbo].[SecondAbility] ON 

INSERT [dbo].[SecondAbility] ([Id], [SecondAbilityName]) VALUES (1, N'Adaptacja')
INSERT [dbo].[SecondAbility] ([Id], [SecondAbilityName]) VALUES (2, N'Analityk')
INSERT [dbo].[SecondAbility] ([Id], [SecondAbilityName]) VALUES (3, N'Bez Ochrony
')
GO
SET IDENTITY_INSERT [dbo].[SecondAbility] OFF
GO
SET IDENTITY_INSERT [dbo].[SecondType] ON 

INSERT [dbo].[SecondType] ([Id], [SecondTypeName]) VALUES (1, N'Normalny')
INSERT [dbo].[SecondType] ([Id], [SecondTypeName]) VALUES (2, N'Ognisty')
INSERT [dbo].[SecondType] ([Id], [SecondTypeName]) VALUES (3, N'Wodny')
SET IDENTITY_INSERT [dbo].[SecondType] OFF
GO
SET IDENTITY_INSERT [dbo].[Sex] ON 

INSERT [dbo].[Sex] ([Id], [SexName]) VALUES (1, N'Samiec')
INSERT [dbo].[Sex] ([Id], [SexName]) VALUES (2, N'Samica')
INSERT [dbo].[Sex] ([Id], [SexName]) VALUES (3, N'Samiec lub Samica')
SET IDENTITY_INSERT [dbo].[Sex] OFF
GO
ALTER TABLE [dbo].[Pokemons]  WITH CHECK ADD  CONSTRAINT [FK_Pokemons_FirstAbility] FOREIGN KEY([FirstAbilityId])
REFERENCES [dbo].[FirstAbility] ([Id])
GO
ALTER TABLE [dbo].[Pokemons] CHECK CONSTRAINT [FK_Pokemons_FirstAbility]
GO
ALTER TABLE [dbo].[Pokemons]  WITH CHECK ADD  CONSTRAINT [FK_Pokemons_FirstType] FOREIGN KEY([FirstTypeId])
REFERENCES [dbo].[FirstType] ([Id])
GO
ALTER TABLE [dbo].[Pokemons] CHECK CONSTRAINT [FK_Pokemons_FirstType]
GO
ALTER TABLE [dbo].[Pokemons]  WITH CHECK ADD  CONSTRAINT [FK_Pokemons_HiddenAbility] FOREIGN KEY([HiddenAbilityId])
REFERENCES [dbo].[HiddenAbility] ([Id])
GO
ALTER TABLE [dbo].[Pokemons] CHECK CONSTRAINT [FK_Pokemons_HiddenAbility]
GO
ALTER TABLE [dbo].[Pokemons]  WITH CHECK ADD  CONSTRAINT [FK_Pokemons_Occurrence] FOREIGN KEY([OccurrenceId])
REFERENCES [dbo].[Occurrence] ([Id])
GO
ALTER TABLE [dbo].[Pokemons] CHECK CONSTRAINT [FK_Pokemons_Occurrence]
GO
ALTER TABLE [dbo].[Pokemons]  WITH CHECK ADD  CONSTRAINT [FK_Pokemons_SecondAbility] FOREIGN KEY([SecondAbilityId])
REFERENCES [dbo].[SecondAbility] ([Id])
GO
ALTER TABLE [dbo].[Pokemons] CHECK CONSTRAINT [FK_Pokemons_SecondAbility]
GO
ALTER TABLE [dbo].[Pokemons]  WITH CHECK ADD  CONSTRAINT [FK_Pokemons_SecondType] FOREIGN KEY([SecondTypeId])
REFERENCES [dbo].[SecondType] ([Id])
GO
ALTER TABLE [dbo].[Pokemons] CHECK CONSTRAINT [FK_Pokemons_SecondType]
GO
ALTER TABLE [dbo].[Pokemons]  WITH CHECK ADD  CONSTRAINT [FK_Pokemons_Sex] FOREIGN KEY([SexId])
REFERENCES [dbo].[Sex] ([Id])
GO
ALTER TABLE [dbo].[Pokemons] CHECK CONSTRAINT [FK_Pokemons_Sex]
GO
USE [master]
GO
