@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">Witaj w świecie gier komputerowych!!! </h1>
        <img id="home-image" src="~/Images/background-gif.gif" class="img-thumbnail rounded mx-auto d-block" alt="Wybrana ranga" />
    </div>
</div>
